// Icons
.icon {
    width: 80px;
    height: 80px;
}

// Weather card grid
.weather-grid {
    display: grid;
    grid-template-areas: 
        'weather-icon weather-main weather-other'
        'weather-icon weather-main weather-other'
        'weather-name weather-main weather-other'
        'weather-desc weather-desc weather-other';
}

.weather-icon { grid-area: weather-icon; }
.weather-name { grid-area: weather-name; }
.weather-main { grid-area: weather-main; }
.weather-other { grid-area: weather-other; }
.weather-desc { grid-area: weather-desc; }

// Load symbol
$color: #D1CDC7;

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    &:after{
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid $color;
        border-color: $color transparent $color transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}